make.profile
custom.conf
savedconfig/

profile/**
!profile/package.use.mask

repos.conf/**
!repos.conf/gentoo.conf

package.mask/**

package.accept_keywords/**
!package.accept_keywords/custom

package.use/**
!package.use/custom
!package.use/abi_x86_32